<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <base href="{{host}}">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Подключаем JS -->
    <!--<script src="public/js/bootstrap.min.js"></script>-->
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div class="userInfo">
                <img src="img/icons/notification-bell.png" alt="" width="40">
                <span class="userName">user</span>
            </div>
        </header>

        <nav>
            <div class="head_nav">
                <h3>Park "TEST"</h3>
                <a href="/logout" class="nav_exitBtn">Exit btn</a>
                <a href="/" class="nav_home">Home</a>
            </div>
            <div class="head_nav">
                <h3>Контроль</h3>
                <a href="/inspection/messages">Уведомления</a>
            </div>
            <div class="head_nav">
                <h3>Справочники</h3>
                <a href="/directory/car-park">Автопарк</a>
            </div>
            <div class="head_nav">
                <h3>Администрирование</h3>
                <a href="/administration/users">Пользователи</a>
                <a href="/administration/settings">Настройки</a>
            </div>
        </nav>
        <main>
            {% block content %}

            content

            {% endblock %}
        </main>
    </div>
</body>
</html>
