<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <base href="{{host}}">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div class="userInfo">
                <div class="messages">
                    <a href="/inspection/messages">
                        <span id="counMsg" class="countMsg"></span>
                        <img id="notificationBell" src="img/icons/notification-bell_noMsg.png" width="40">
                    </a>
                    <div class="msg_block" id="msg_block">

                    </div>
                </div>
                <span class="userName">{{ name }}</span>
            </div>
        </header>

        <nav>
            <div class="head_nav">
                <h3>Park "TEST"</h3>
                <a href="/logout" class="nav_exitBtn"><img src="img/icons/log-out.png" alt="">Exit</a>
                <a href="/" class="nav_home"><img src="img/icons/home.png" alt="">Home</a>
            </div>
            <div class="head_nav">
                <h3>Контроль</h3>
                <a href="/inspection/messages"><img src="img/icons/notifications.png" alt="">Уведомления</a>
            </div>
            <div class="head_nav">
                <h3>Справочники</h3>
                <a href="/directory/car-park"><img src="img/icons/garage.png" alt="">Автопарк</a>
            </div>
            <div class="head_nav">
                <h3>Администрирование</h3>
                <a href="/administration/users/all"><img src="img/icons/user.png" alt="">Пользователи</a>
                <a href="/administration/settings"><img src="img/icons/settings.png" alt="">Настройки</a>
            </div>
        </nav>
        <main>
            {% block content %}

            content

            {% endblock %}
        </main>
    </div>
    <script src="/js/messages.js"></script>
</body>
</html>
